body {
    background-color: rgb(10,10,10);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 370px;
    margin-top: 50px;
    background-color: rgb(240,240,240);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 20px 0 rgba(240, 240, 240, 0.5), 0 6px 20px 0 rgba(240, 200, 200, 0.19);
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    .image {
        width: 100%;
    }
}
